/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "base/reset.scss";

@import "base/grid.scss";

body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
}

button {
    border: none;
    color: grey;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 14px;
}

.buttons {
  display: flex;
  padding: 10px;
}

.main-nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  padding: 10px;
}

.input-field {
  border: 1px solid #d3d3d3;
  margin: 5px;
  height: 25px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
}

.input-label {
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}

.login-form{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.form-submit-input{
  border: 1px solid #ff7e82;
  border-color: #ff7e82;
  background-color: #ff7e82;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  height: 40px;
  padding: 10px;
  text-align: center;
}

.login-marketing {
  text-align: left;
  margin-bottom: 20px;
  color: grey;
  font-size: 18px;
}

.switchModalText {
  font-weight: normal;
}

.switchModal {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}
