.booking-card {
  border: 1px solid grey;
  width: 270px;
  height: 600px;
  margin-left: 7%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  border: 1px solid #bdbdbd;
  border-width: medium;
  // align-items: center;
  // justify-content: space-between;
}

.card-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 400px;
}

.booking-card-list {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 30px;
}

.booking-card-item {
  color: #2f4f4f;
  font-weight: bold;
}

.booking-image {
  height: 200px;
}

.booking-image:hover {
  cursor: pointer;
}


.cancel-booking{
  margin-bottom: 30px;
  color: white;
  background: #ff7e82;
  font-weight: bold;
  width: 80px;
  height: 40px;
  text-align: center;
  border-radius: 2px;
}

.dates {
  display: flex;
}

.check-item {
  margin-right: 20px;
  margin-left: 20px;
}

.booking-location {
  margin-top: 30px;
  font-size: 28px;
  margin-right: 20px;
}

.booking-title:hover {
  cursor: pointer;
}

.calc-div {
  display: flex;
}

.calc-div-item {
  margin: 20px;
}

.calc-div-content {
  color: #2f4f4f;
  font-weight: bold;
}

.booking-desc {
  color: #2f4f4f;
  font-weight: bold;
  margin-left: 15px;
  margin-right: 15px;
}

.booking-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.booking-guest-limit {
  font-size: 14px;
  font-weight: bold;
  color: #ff7e82;
}
