.price-calc-div {
  display: flex;
  justify-content: space-around;
  width: 318px;
  color: #2f4f4f;
  font-weight: bold;
}

.daily-price {
  display: flex;
  justify-content: space-around;
  width: 318px;
  color: #2f4f4f;
  font-weight: bold;
}

.price-item {
}

.booking-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid #2f4f4f;
  border-width: medium;
  height: 400px;
  min-width: 418px;
  align-items: center;
}

.booking-form-submit {
  color: #2f4f4f;
  font-weight: bold;
  text-align: center;
  border: 1px solid #2f4f4f;
  border-width: medium;
  width: 100px;
  height: 40px;
}

.booking-submit-container {
  width: 318px;
  display: flex;
  height: 80px;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.not-logged-message {
  color: #ff7e82;
}

.booking-form-error {
  color: #ff7e82;
  text-align: center;
}
