.office-img {
    position: relative;
    display: flex;
    height: 100%;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

.image-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 50px;
  max-width: 1000px;
  min-width: 500px;
}

.feature-title {
  font-weight: normal;
  font-size: 18px;
  margin-left: 20px;
  color: #2f4f4f;
}

.office-li {
  overflow: hidden;
  flex: 0.30 0.30 30%;
  margin: 5px;
}

.office-price {
  padding: 5px;
}
