.office-img {
    position: relative;
    display: flex;
    height: 100%;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

.image-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-right: 10%;
  min-width: 500px;
}

.feature-title {
  font-weight: bolder;
  font-size: 26px;
  margin-left: 10%;
  color: #2f4f4f;
  margin-bottom: 3%;
}

.office-li {
  overflow: hidden;
  margin: 5px;
  width: 300px;
}

.office-price {
  padding: 5px;
}
