.office-img {
    position: relative;
    display: flex;
    height: 200px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

.image-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-right: 5%;
  min-width: 500px;
}

.feature-title {
  font-weight: bolder;
  font-size: 26px;
  margin-left: 5%;
  color: #2f4f4f;
  margin-bottom: 3%;
}

.office-li {
  overflow: hidden;
  margin: 5px;
  width: 300px;
}

.office-li:hover {
  cursor: pointer;
}

.office-price {
  padding: 5px;
  font-weight: bold;
  color: #2f4f4f
}

.office-location {
  padding: 5px;
  color: #2f4f4f
}

.home-div {
  padding-bottom: 30px;
}

.office-title-dive {
  display: flex;

}
