.image-container {
  margin-top: 5%;
  max-width: 1000px;
  margin-left: 8%;
  margin-right: 8%;
}

.detail-image {
  max-height: 500px;
}

.detail-title {
  display: flex;
}

.location-guests {
  margin-left: 12%;
  margin-top: 3%;
  font-size: 24px;
  font-weight: bold;
  color: #2f4f4f;
}

.about-title {
  margin-left: 8%;
  margin-top: 2%;
  font-size: 36px;
  font-weight: bolder;
  color: #2f4f4f;
}

.about-body {
  margin-left: 10%;
  margin-top: 2%;
  font-size: 30px;
  font-weight: bolder;
  color: #2f4f4f;
}
