.image-container {
  margin-top: 5%;
  max-width: 1000px;
  margin-left: 10%;
  margin-right: 10%;
  min-width: 600px;
}

.detail-image {
  max-height: 500px;
}

.detail-title {
  display: flex;
  justify-content: space-around;
}

.location-guests {
  font-size: 24px;
  font-weight: bold;
  color: #2f4f4f;
}

.about-title {
  font-size: 36px;
  font-weight: bold;
  color: #2f4f4f;
  margin-bottom: 10px;
}

.about-body {
  font-size: 30px;
  font-weight: bolder;
  color: #2f4f4f;
  margin-right: 20px;
}

.details-and-form {
  display: flex;
  max-width: 1000px;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 3%;
  min-width: 600px;
}

.detail-content {
}

.about-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 200px;
  margin-top: 70px;
}

.office-detail-container {
  padding-bottom: 30px;
}
