.review-form {
  max-width: 600px;
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #2f4f4f;
  border-width: medium;
  padding: 20px;
  height: 250px;
}

.form-textarea {
  width: 400px;
  height: 150px;
  border: 1px solid #2f4f4f;
  resize: none;
}

.review-submit {
  margin-top: 10px;
  background: #ff7e82;
  color: white;
  width: 70px;
  height: 40px;
  text-align: center;
  border-radius: 2px;
}

.review-form-title {
  font-weight: bold;
  color: #2f4f4f;
  font-size: 24px;
}

.review-form-header {
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin-bottom: 10px;
}

.review-submit-container {
  display: flex;
  justify-content: space-between;
  width: 400px;
}
