.review-form {
  max-width: 600px;
  margin-left: 10%;
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-textarea {
  width: 400px;
  border: 1px solid black;
}
