.search-form {
  display: flex;
  margin-left: 13%;
  margin-right: 13%;
  margin-top: 6%;
  margin-bottom: 4%;
}

.location-input {
  border: 1px solid #d3d3d3;
  border-width:thin;
  height: 48px;
  text-align: center;
  width: 280px;
  color: #2f4f4f;
  font-weight: bold;

}

.search-and-guests {
  border: 1px solid #d3d3d3;
  display: flex;
  width: 280px;
  justify-content: space-between;
  height: 48px;
}

.title-and-guests {
  display: flex;
  align-items: flex-end;
}

.guests-drop-down {
  margin-left: 10px;
  border: none;
  height: 48px;
  width: 80px;
  background-color: white;
  font-size: 15px;
  color: #2f4f4f;
  font-weight: bold;
}

.search-submit {
  height: 30px;
  font-weight: normal;
  color: white;
  background: #ff7e82;
  padding: 5px;
  border-radius: 3px;
  width: 80px;
  text-align: center;
}
.search-button-container {
  height: 50px;
  width: 100px;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.search-title {
  font-weight: normal;
  font-size: 14px;
  margin-left: 3%;
  color: #2f4f4f;
  margin-bottom: 1%;
}

select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.image-list-container{
  width: 800px;
}

.date-picker-container {
  border: 1px solid #cacccd;
}

.search-div {
  padding-bottom: 30px;
}
